header{
    position: fixed;
    width: 100%;
    height: 65px;
    background-color: transparent;
    color: #fff;
    z-index: 100;
    transition: background-color 1s linear;

    .logo{
        margin: 5px;
        max-width: 15vw;
    }

    .ham-menu{
        position: absolute;
        top: 10px;
        right: 16px;
        font-size: 2.2em;
        color: #b41b1bf8;
    }

    .nav-links{
        font-size: 3em;
        text-transform: lowercase;
        left: 100%;
        top: 0;
        position: fixed;
        z-index: 100;
        width: 50%;
        height: 100vh;
        background-color: #516d57;
        transition: all 0.5s ease-in-out;

        .exit{
            position: absolute;
            right: 10px;
            top: 0;
            color: #fff;
            font-size: 1em;
        }

    .links{
            margin-top: 20%;
            list-style: none;
            padding: 10px 0;
            li{
                display: block;
                font-size: 2em;
                padding: 10px;
                text-align: center;
                border-bottom: 0.5px solid rgb(128, 128, 128);
                text-align: center;
            }
        }
        .social{
            display: flex;
            justify-content: center;
            margin: 6% 0;
            list-style: none;
            li {
                margin: 5%;
                display: inline-block;
                font-size: 2em;
                text-align: center;
            }
        }
    }

    a{
        display: block;
        font-size: .8em;
        text-decoration: none;
        color: #fff;
        text-align: center;
        margin: 10px auto;
        &:hover{
            color: #d88787f8;
        }
    }

    .openNav{
        left: 50% !important;
    }
}

@media screen and (min-width:760px){
    header{
        height: 100px;
        .ham-menu, .exit{
            display: none;
        }
        .logo{
            max-width: 12vw;
        }
        .nav-links{
            left: 0;
            height: 100px;
            background-color: transparent;
            width: 100%;
            .links{
                position: fixed;
                right: 0;
                top: 0;
                text-align: right;
                margin: 0;
                margin-right: 10px;
                padding: 0;
                font-size: .50em;
                line-height: 90px;
                a{
                    margin: 0 10px;
                }
            }
        }
        a{
            display: inline-block;
            font-size: 1.4em;
        }
    }
}



@media screen and (min-width:1000px){

    header {
        height: 80px;
        color: #b41b1bf8;
        .logo{

            max-width: 6vw;
        }

        a{
            color: #b41b1bf8;
        }
    }

    .headColor{
        background-color: #b41b1bf8 !important;
        a{
        color: #fff !important;
        }
    }
    
}

//mobile
.headColor{
    background-color: #b41b1bf8 !important;
    .ham-menu{
        color: #fff;
    }
}