section{
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
}

img{
    background-color: rgb(101, 137, 216);
}

.parallax{
    // background-color: rgb(151, 204, 218);
    // height: 600px;
    width: 100%;
    // display: flex;
    // flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1;
    .images{
        margin-bottom: -4px;
    }
    .mobile{
        max-width: 100vw;
        margin-top: -265px;
        grid-column: 1/-1;
        grid-row: 1/-1;
    }
    .desktop{
        display: none;
    }
    h2{
        grid-column: 1/-1;
        grid-row: 1/-1;
        display: block;
        width: 72%;
        font-size: 2.5em;
        margin: auto;
        text-align: center;
    } 
    a{
        margin: 0 auto;
    }
}

.content{
    margin-top: 65px;
}

.half-div{
    width: 100%;
    height: 400px;
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
}

.one-div{
    width: 100%;
}

.mins {
    p{
        width: 80%;
        margin: 50px auto;
        font-size: 2em;
        text-align: center;
    }
    a{
        bottom: 20px;
        left: 42%;
        font-size: 1.8em;
    }
}

.fact{
    a{
        // margin: 0 auto;
        font-size: 1.8em;
    }
    .fact-img{
        width:100%;
        img{
            display: block;
            margin: auto;
            width: 85%;
            background-color: transparent;
        }
    }
}

.red{
    background-color: #c30a35;
    color: #fff;
    .button{
        background-color: #fff;
        color: #c30a35; 
    }
}

.button{
    padding: 10px;
    display: inline-table;
    margin: 20px auto;
    font-weight: bolder;
    border-radius: 5px;
    font-size: 1.7em;
}

.white{
    background-color: #fff;
    color: #c30a35;
    .button{
        background-color: #c30a35;
        color: #fff;
    }
}

.stories{
    font-size: 1em;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    .left{
        width: 100%;
        text-align: center;
        h2{font-size: 3em;}
        p{
            margin: 30px auto;
        }
        .button{
            background-color: #c30a35;
            color: #fff;
        }
    }
    .right{
        width: 100%;
        height: 400px;
        background-color: rgb(101, 137, 216);
        margin: auto;
    }
}


.video{
    min-height: 250px;
    video{
        width: 90%;
        display: block;
        margin: auto;
        background-color: purple;
    }
}

.event-div{
display: flex;
flex-wrap: wrap-reverse;
}

.events{
    width: 100%;
    a{
        width: 95%;
        margin: 10px auto;
        display: block;
        background-color: #fff;
        border-radius: 20px;
        padding: 5px;
        font-size: 1.8em;
    }
}

.event{
    padding-left: 10px;
    h3{
        font-size: 1em;
        text-transform: uppercase;
    }
    p{
        font-size: 0.8em;
    }
}

.eventsInfo{
    font-size: 1em;
    width: 100%;
    text-align: center;
    h2{
        margin-top: 10px;
        font-size: 3em;
    }
    p{
        margin: 30px 40px;
    }
}

.end{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 1em;
    h2{
        text-align: center;
        display: block;
        width: 100%;
        margin: 30px;
    }
    img{
        background-color: aqua;
        width: 90%;
        height: 200px;
        margin: auto;
    }
    a{
        background-color: #fff;
        color: #c30a35;
    }
}

p{
    font-size: 1.5em;
}














//media queries 

@media screen and (min-width: 375px){
    .fact .fact-img img{
            width: 75%;
    }

    .parallax h2{
        margin-top: 50px;
    }
}

@media screen and (min-width: 414px){
    .fact .fact-img img{
            width: 70%;
    }
}


@media screen and (min-width: 760px){
    .content{
        margin-top: 100px;
    }

    .parallax{
        .mobile{
            margin-top: -680px;
        }
        h2{
            font-size: 5em;
        }
    }

    .mins{ 
        p{
        width: 91%;
        }
        .button{
            font-size: 2em;
        }
    }

    .fact {
        height: 500px;
        .fact-img img{
        width: 50%;
        }
        .button{
            font-size: 2em;
        }
    }

    .video{
        height: 450px;
    }
}














@media screen and (min-width: 1000px){

    section{
        width: 100%;
        min-height: 100px;
        display: flex;
        flex-wrap: wrap;
    }
    
    a{
        text-decoration: none;
        margin: 0 auto;
    }
    
    .content{
        margin-top: 80px;
    }
    
    .parallax{
        background-color: rgb(151, 204, 218);
        // height: 600px;
        width: 100%;
        // display: flex;
        // flex-wrap: wrap;
        .mobile{
            display: none;
        }
        .desktop{
            display: block;
            width: 100%;
            position: relative;
        }
        h2{
            display: block;
            right: 63px;
            width: 45%;
            font-size: 5.5em;
            text-align: right;
            position: absolute;
        } 
        a{
            margin: 0 auto;
        }
    }
    
    .half-div{
        height: 500px;
        width: 50%;
    }
    
    .one-div{
        width: 100%;
    }
    
    .mins {
        p{
            width: 80%;
            margin: 50px auto;
            font-size: 1em;
            text-align: center;
        }
        a{
            bottom: 20px;
            left: 42%;
            font-size: 1em;
        }
    }
    
    .fact{
        a{
            // margin: 0 auto;
            font-size: 1em;
        }
        .fact-img{
            width:100%;
            img{
                width: 55%;
            }
        }
    }
    
    .parallax .button{
        background-color: #c30a35;
        color: #fff;
        font-size: 3em;
    }
    
    .red{
        background-color: #c30a35;
        color: #fff;
        .button{
            background-color: #fff;
            color: #c30a35; 
        }
    }
    
    .button{
        padding: 10px;
        display: inline-table;
        margin: 20px auto;
        font-size: 2em;
    }
    
    .white{
        background-color: #fff;
        color: #c30a35;
        .button{
            background-color: #c30a35;
            color: #fff;
        }
    }
    
    .stories{
        font-size: 1em;
        padding: 30px;
        display: flex;
        flex-wrap: wrap;
        .left{
            width: 35%;
            text-align: center;
            h2{
                font-size: 4em;
            }
            p{
                margin: 30px auto;
            }
            .button{
                background-color: #c30a35;
                color: #fff;
            }
        }
        .right{
            width: 60%;
            height: 400px;
            background-color: rgb(101, 137, 216);
            margin: auto;
        }
    }
    
    
    .video{
        height: 500px;
        video{
            width: 65%;
            display: block;
            margin: auto;
            background-color: purple;
        }
    }
    
    .events{
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        align-content: space-evenly;

        a{
            width: 100%;
            margin: 0 10px;
            display: block;
            background-color: #fff;
            border-radius: 20px;
            padding: 5px;
            font-size: 1.5em;
        }
    }
    .eventsInfo{
        font-size: 1em;
        width: 40%;
        text-align: center;
        h2{
            margin-top: 10px;
            font-size: 2em;
        }
        p{
            margin: 30px 40px;
        }
    }
    
    .end{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        font-size: 2em;
        h2{
            text-align: center;
            display: block;
            width: 100%;
            margin: 30px;
        }
        img{
            background-color: aqua;
            width: 90%;
            height: 200px;
            margin: auto;
        }
        a{
            background-color: #fff;
            color: #c30a35;
        }
    }
    
}